@import "variables";

.modal {
  -webkit-overflow-scrolling: touch;
  align-items: center;
  background-color: $modal-background;
  display: flex;
  flex-direction: column;
  height: 100%;
  height: 100vh;
  justify-content: center;
  left: 0;
  margin: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 101;

  * {
    z-index: 100;
  }

  &:not(&--no-fade) {
    @include page-fade-in;
  }

  &__header {
    align-items: center;
    border-top: 1px solid $elv-color-darkergray;
    display: flex;
    height: 60px;
    justify-content: flex-end;
    padding: 0 15px;
    top: 0;
    width: 100%;
  }

  &__content {
    height: auto;
    max-height: max-content;
    min-height: calc(100vh - 60px);
    overflow: visible;
  }

  &__close-button {
    background-color: $elv-color-white;
    border: 1px solid $elv-color-black;
    border-radius: 100%;
    cursor: pointer;
    font-weight: 400;
    height: 35px;
    margin-right: auto;
    padding: 8px;
    position: fixed;
    stroke: #000;
    width: 35px;
    z-index: 10002;

    svg {
      height: 100%;
      stroke: $elv-color-black;
      width: auto;
    }

    &:focus {
      background-color: $elv-color-blue;

      svg {
        stroke: $elv-color-white;
      }
    }

    &:hover {
      background-color: $elv-color-black;
      border: 0.5px solid $elv-color-gray;

      svg {
        stroke: $elv-color-white;
      }
    }
  }

  .navigation__menu {
    @include page-fade-in(0.15s);

    color: $elv-color-white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 40px;
    position: absolute;
    right: 0;
    width: 100%;
  }
}

@media only screen and (min-width: $tablet-breakpoint) {
  .modal {
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 60vw;
  }
}

@media only screen and (min-width: $desktop-breakpoint) {
  .modal {
    -webkit-overflow-scrolling: unset;
    width: 45vw;
  }
}
