$elv-color-bg-black: #000;
$elv-color-bg-dark: #333;
$elv-color-black: #000;
$elv-color-lightgray: #ddd;
$elv-color-gray: #ccc;
$elv-color-darkgray: #555;
$elv-color-darkergray: #444;
$elv-color-text-white: #fff;
$elv-color-white: #fff;
$elv-color-lightblue: #0fafff;
$elv-color-blue: #2e69c6;
$tablet-breakpoint: 800px;
$desktop-breakpoint: 1250px;
$modal-background: rgba($elv-color-bg-black, 1);

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; }
}

@mixin page-fade-in($duration: 0.5s) {
  animation: $duration fadein ease-in;
}

@mixin page-fade-out {
  animation: 0.5s fadeout ease-in;
}
